button {
  transition: all 200ms ease;
}
.btn-custom {
  padding: 0 !important;
  border: none !important;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  line-height: 50% !important;
  margin: 0;
  transition: all 0.3s ease 0s !important;
  cursor: pointer !important;
  text-align: center !important;
  transition: all 200ms ease;
}
.btn-custom:focus {
  box-shadow: 0 0 1pt 2pt #9ec0f7 !important;
}
.btn-icon {
  outline: none !important;
  width: 32px !important;
  margin: 0 4px;
  background: none !important;
  box-shadow: none !important;
}
.btn-modal {
  border-radius: 0.25rem;
  border: none !important;
  font-size: 12px !important;
  height: 25px !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 5px !important;
  color: white !important;
}
.btn-ok-modal {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.btn-modal + .btn-modal {
  margin-left: 10px !important;
}
.btn-icon i {
  font-size: 25px;
}
/* deletar dps de padronizar */
button i.fas,
button i.far {
  font-size: 25px;
}

.addbtn {
  background-color: white !important;
  color: #a0e7a0 !important;
}
.addbtn:hover {
  background-color: white !important;
  color: #77dd77 !important;
}
.addbtn:focus {
  color: #77dd77 !important;
  background-color: white !important;
}
.relatbtn {
  background-color: white !important;
  color: #9ab3ff !important;
}
.relatbtn:hover {
  color: #728bdd !important;
  background-color: white !important;
}
.relatbtn:focus {
  color: #82a0ff !important;
  background-color: white !important;
}
.btn-vermelho {
  background-color: #df4139;
}
.btn-vermelho:hover {
  background-color: #c73129;
}

.btn-azul {
  background-color: #718de0 !important;
  border-color: #9ab3ff !important;
}
.btn-azul:hover {
  background-color: rgb(74, 101, 190) !important;
  border-color: #82a0ff !important;
}

.btn-cinza {
  color: white !important;
  background-color: #999999 !important;
  border-color: #c3c3c3 !important;
}
.btn-cinza:hover {
  background-color: #747474 !important;
  border-color: #aaaaaa !important;
}

.btn-verde {
  background-color: #70b670 !important;
  border-color: #a0e7a0 !important;
}
.btn-verde:hover {
  background-color: #4c8a4c !important;
  border-color: #77dd77 !important;
}

.cancelbtn {
  background-color: white !important;
  color: #c3c3c3 !important;
}
.cancelbtn:hover {
  color: #8a8a8a !important;
}
.cancelbtn:focus {
  color: #8a8a8a !important;
}

.delbtn {
  background-color: inherit !important;
  color: #ff817b !important;
}
.delbtn:hover {
  color: #ff5f48 !important;
}
.delbtn:focus {
  color: #ff5f48 !important;
  -webkit-text-stroke-width: 2px !important;
  -webkit-text-stroke-color: #ff4e34 !important;
}
