:root {
  --navbar-height: 30px;
  --dark-blue: #0055af;
  --light-blue: #0079fa;
  --light-gray: #dee2e6;
}
@media screen and (max-width: 470px) {
  :root {
    --navbar-height: 60px;
  }
}
*:focus {
  border-color: #80bdff !important;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 0.2rem #007bff40 !important;
  box-shadow: 0 0 0 0.2rem #007bff40 !important;
}
input[type="checkbox"]:focus {
  border-color: #80bdff !important;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 0.1rem #007bff40 !important;
  box-shadow: 0 0 0 0.1rem #007bff40 !important;
}
main .main-component {
  width: 100%;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}
.page-content {
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.less-padding {
  padding: 0 2px !important;
}
.form-inline .titulo {
  font-size: 25px;
  font-weight: normal !important;
  padding-left: 0 !important;
  margin: 0 !important;
}
.low-opacity {
  opacity: 0.4;
}
.t-start {
  text-align: start !important;
}
.t-center {
  text-align: center !important;
}
.upper-case {
  text-transform: uppercase;
}
.paddingX-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

/* searchDisciplinas */
.search-text:hover {
  color: rgb(102, 102, 102) !important;
  background-color: #dddddd !important;
}
.search-text {
  background-color: #ffffff !important;
  border-left: none !important;
}
.search-btn {
  cursor: pointer;
  height: 25px;
  background-color: #fff;
  font-size: 18px;
}
.search-btn :hover {
  background-color: #fff;
}

.clickable {
  cursor: pointer !important;
}
.max-content {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

.modal-custom .list-group,
#modalAjuda .list-group {
  line-height: 30px;
  font-size: 12px;
  text-align: start;
  line-height: 1.5;
}
.modal-custom .list-ajuda i {
  font-size: 12px !important;
  margin: 0 1px !important;
  color: #585858;
}
#modalAjuda .list-group .list-group-item strong,
.list-ajuda .list-group-item b:first-of-type {
  color: var(--light-blue);
}
.modal-custom .list-ajuda i:hover {
  color: #2a2a2a;
}

.list-deletar .list-group-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  word-wrap: break-word;
}
/* notification */
.vue-notification {
  padding: 10px;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 12px;
  color: #ffffff;
  background: #44a4fc;
  border-left: 5px solid #187fe7;
}
.vue-notification .warn {
  background: #ffb648;
  border-left-color: #f48a06;
}
.vue-notification .error {
  background: #e54d42;
  border-left-color: #b82e24;
}
.vue-notification .success {
  background: #68cd86;
  border-left-color: #42a85f;
}
