:root {
  --navbar-height: 30px;
}
@media screen and (max-width: 470px) {
  :root {
    --navbar-height: 60px;
  }
}
.main-component {
  width: 100%;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}

.form-inline .titulo {
  font-size: 25px;
  font-weight: normal !important;
  padding-left: 0 !important;
  margin: 0 !important;
}
.low-opacity {
  opacity: 0.4;
}
.t-start {
  text-align: start !important;
}
.t-center {
  text-align: center !important;
}
/* nav-tab */
.nav-tabs .nav-link {
  color: #0079fa !important;
  cursor: pointer;
}
.nav-tabs .nav-link:hover {
  text-decoration: underline;
}
.nav-tabs .active {
  background-color: #e9ecef !important;
  color: #495057 !important;
  cursor: default !important;
  text-decoration: none !important;
  transition: background-color 200ms;
}
/* searchDisciplinas */
.search-text:hover {
  color: rgb(102, 102, 102) !important;
  background-color: #dddddd !important;
}
.search-text {
  background-color: #ffffff !important;
  border-left: none !important;
}
.search-btn {
  cursor: pointer;
  height: 25px;
  background-color: #fff;
  font-size: 18px;
}
.search-btn :hover {
  background-color: #fff;
}

.clickable {
  cursor: pointer;
}
.max-content {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

#modalAjuda strong {
  color: #007bff;
}
#modalAjuda .listas {
  line-height: 30px;
  font-size: 12px;
  text-align: justify;
  line-height: inherit;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
}

/* notification */
.vue-notification {
  padding: 10px;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 12px;
  color: #ffffff;
  background: #44a4fc;
  border-left: 5px solid #187fe7;
}
.vue-notification .warn {
  background: #ffb648;
  border-left-color: #f48a06;
}
.vue-notification .error {
  background: #e54d42;
  border-left-color: #b82e24;
}
.vue-notification .success {
  background: #68cd86;
  border-left-color: #42a85f;
}
