:root {
  --navbar-height: 30px;
  --dark-blue: #0055af;
  --light-blue: #0079fa;
  --light-gray: #e9ecef;
  --dark-gray: #343a40;
}
@media screen and (max-width: 544px) {
  :root {
    --navbar-height: 60px;
  }
}
.div-table {
  overflow: hidden;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
}
.sticky {
  display: block !important;
  overflow: hidden !important;
  position: sticky !important;
  top: 0 !important;
  overflow: hidden !important;
  z-index: 5 !important;
}
.sticky2 {
  display: block !important;
  overflow: hidden !important;
  position: sticky !important;
  top: 37px !important;
  overflow: hidden !important;
  z-index: 5;
}

*:focus {
  border-color: #80bdff !important;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 0.2rem #007bff40 !important;
  box-shadow: 0 0 0 0.2rem #007bff40 !important;
}
input[type="checkbox"]:focus {
  border-color: #80bdff !important;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 0.1rem #007bff40 !important;
  box-shadow: 0 0 0 0.1rem #007bff40 !important;
}
main .main-component {
  width: 100%;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}
.page-content {
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.clickable {
  cursor: pointer !important;
}
.max-content {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}
.less-padding {
  padding: 0 2px !important;
}
.low-opacity {
  opacity: 0.4;
}
.t-start {
  text-align: start !important;
}
.t-center {
  text-align: center !important;
}
.upper-case {
  text-transform: uppercase;
}
.paddingX-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.popover {
  font-size: 11px !important;
}
.popover .popover-header {
  font-size: 11px !important;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  font-weight: bold;
}
.popover .popover-body {
  padding-top: 3px;
  padding-bottom: 3px;
}

label[required] {
  padding-right: 10px;
  position: relative;
}
label[required]:after {
  content: "*";
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 16px;
  color: rgb(241, 3, 3);
}
label[required]:before {
  content: "Campo obrigatório";
  position: absolute;
  top: -5px;
  z-index: -1;
  opacity: 0;
  left: calc(100% + 10px);
  pointer-events: none;
  width: max-content;
  height: max-content;
  font-size: 12px;
  padding: 3px 5px;
  color: var(--light-gray);
  background-color: var(--dark-gray);

  transition: all 200ms;
}
label[required]:hover:before {
  opacity: 1;
  z-index: 500;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.modal-custom .list-group {
  line-height: 30px;
  font-size: 12px;
  text-align: start;
  line-height: 1.5;
}
.modal-custom .list-ajuda svg {
  font-size: 12px !important;
  margin: 0 1px !important;
  color: #585858;
}
.list-ajuda .list-group-item b:first-of-type {
  color: var(--light-blue);
}
.modal-custom .list-ajuda i:hover {
  color: #2a2a2a;
}

.list-deletar .list-group-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  word-wrap: break-word;
}

/* notification */
.vue-notification {
  padding: 10px;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 12px;
  color: #ffffff;
  background: #44a4fc;
  border-left: 5px solid #187fe7;
}
.vue-notification .warn {
  background: #ffb648;
  border-left-color: #f48a06;
}
.vue-notification .error {
  background: #e54d42;
  border-left-color: #b82e24;
}
.vue-notification .success {
  background: #68cd86;
  border-left-color: #42a85f;
}
