.sticky {
  display: block !important;
  overflow: hidden !important;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0 !important;
  overflow: hidden !important;
  z-index: 5 !important;
}
.sticky2 {
  display: block !important;
  overflow: hidden !important;
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 37px !important;
  overflow: hidden !important;
  z-index: 5;
}
.div-table {
  overflow: hidden;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
}
.p-header {
  user-select: none;
}
.bg-custom {
  background-color: #00000015;
}
.bg-custom:hover {
  background-color: #00000015;
}
.bg-selected,
.bg-selected:hover {
  background-color: #787878 !important;
  color: #fff !important;
}
