/* ### icon-cores ### */
.icon-green {
  color: #77dd77 !important;
}

.icon-green:hover {
  color: #54bd54 !important;
}

.icon-lightblue {
  color: #9ab3ff !important;
}

.icon-lightblue:hover {
  color: #728bdd !important;
}

.icon-gray {
  color: #8a8a8a !important;
}

.icon-gray:hover {
  color: #747474 !important;
}

.icon-darkgray {
  color: #2e2e2e !important;
}

.icon-darkgray:hover {
  color: #1b1b1b !important;
}

.icon-red {
  background-color: inherit !important;
  color: #ff817b !important;
}

.icon-red:hover {
  color: #ff5f48 !important;
}

.icon-blue {
  background-color: inherit !important;
  color: #2482ed !important;
}

.icon-blue:hover {
  color: rgb(25, 85, 163) !important;
}

/* ### text-cores ### */
.text-green {
  background-color: #70b670 !important;
}
.text-lightblue {
  background-color: #718de0 !important;
}
.text-blue {
  background-color: #556fb5 !important;
}
.text-gray {
  background-color: #8a8a8a !important;
}
.text-red {
  background-color: #cf1b1b;
}
.text-darkblue {
  background-color: var(--dark-blue);
}
