.slideY-enter-active {
  animation: slideDown 0.2s ease;
}
.slideY-leave-active {
  animation: slideUp 0.2s ease;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-30%);
  }
}
