// Base colors
$clr-gray: #9a9da0;
$clr-darkgray: #343a40;
$clr-lightgray: #e9ecef;
$clr-dark: #282b2e;
$clr-light: #fefefe;
$clr-blue: #0055af;
$clr-lightblue: #0079fa;

// Text colors
$clr-text-blue: #007bff;
$clr-text-gray: #acacac;
$clr-text-darkgray: #333;
$clr-text-dark: #0e0e0e;

// Others
$navbar-height: 30px;
